#bg{
    -fx-background-image: url("greencar.png");
    -fx-background-size: 100% 100%;
}
#bg2
{
    -fx-background-image: url("greencarL.png");
    -fx-background-size: 100% 100%;
}
#bg3
{
    -fx-background-image: url("mainBG.png");
    -fx-background-size: 100% 100%;
}
#button
{
    -fx-background-color: #e89111;
    -fx-background-radius:15px;
    -fx-text-fill: #ffffff;
}
#button:hover
{
    -fx-background-color: #845b24;
}
#buttonicon
{
    -fx-background-image: url("search.png");
    -fx-background-color: #e89111;
    -fx-background-radius:15px;
    -fx-background-position: center center;
    -fx-background-repeat: no-repeat;
    -fx-background-size: 16px 16px;
    -fx-text-fill: #ffffff;
}
#buttonicon:hover
{
    -fx-background-color: #845b24;
}
#textfield
{
    -fx-background-radius:15px;
    -fx-focus-color: white;
}
#menu
{
    -fx-background-color: #e89111;
    -fx-background-radius:15px;
    -fx-font-family: "Segoe UI";
    -fx-font-size: 14px;
    -fx-text-alignment: center;
    -fx-text-fill: #ffffff;
}
#menuitem
{
    -fx-background-color: #e89111;
    -fx-background-radius:15px;
    -fx-text-fill: #ffffff;
}
#menuitem:hover
{
    -fx-background-color: #845b24;
}
#menubutton
{
    -fx-background-color: #e89111;
    -fx-text-fill: #ffffff;
}
#menubutton:hover
{
    -fx-background-color: #845b24;
}
#menubutton:default
{
    -fx-background-color: #e89111;
    -fx-text-fill: #000000;
}
#menubutton:default:hover
{
    -fx-background-color: #845b24;
    -fx-text-fill: #000000;
}
#routebutton
{
    -fx-background-color: transparent;
}
#routebutton:hover
{
    -fx-background-color: rgba(0, 0, 0, 0.06);
}
#search
{
    -fx-background-color: white;
    -fx-background-radius:15px;
    -fx-text-fill: black;
}

